html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

.header {
    background-color: #000;
}

.header i {
    background-color: #0460ad;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.header i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.header p {
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}

.header p span {
    display:block;
    font-weight: normal;
    font-size:12px;
    line-height:2;
    color: #d4d4d4;
}
footer
{
    background-color: #000;
    text-align: center;
    border-top: 1px solid white;
    padding: 20px;
}

footer p{
	color: white;
	font-family: arial;
	font-size: 20px;
	padding: 10px;
}

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #4b4b4b;
    position: relative;
    top: -65px;
    margin: auto;
    width: 350px;
    color: #ffffff;
}

.nav-side-menu .brand {
    background-color:#f9c937;
    line-height: 65px;
    display: block;
    padding-left: 70px;
    font-size: 24px;
    color: #000000;
}

.nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 18px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #f9c937;
    color: #000;
    width: 40px;
    text-align: center;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 65px;
    cursor: pointer;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    background-color: #fde8af;
}

.nav-side-menu ul .active a,
.nav-side-menu li .active a {
    border: none;
    color:#000000;
}

.nav-side-menu li {
    padding: 0 24px;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 0 40px;
    font-size: 24px;
    border-bottom: 2px solid #8c8c8c;
}

.nav-side-menu li:hover {
    background-color: #fde8af;
    color:#000000;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-side-menu li:hover a {
    border: none;
}

.nav-side-menu li a:hover {
    color:#000000;
}

.price-list div p {
    padding: 0 180px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 18px;
}

.price-list {
    font-size:40px;
    font-weight: bold;
    color:#045eaa;
	font-family: arial;
}

.title-tiret {
    display:inline-block;
    background-color: #f9c937;
    width: 25px;
    height: 4px;
    margin-bottom: 8px;
}
.main-top{
	padding: 40px;
	width: 100%;
	text-align: right;
	color: white;
	font-size: 25px;
	font-family: arial;
}

* {
    box-sizing: border-box;
}
.options{
	margin-bottom: 20px;
	padding-bottom: 30px;
	margin-top: 50px;
}
.option-table {
    float: left;
    width: 33.3%;
    padding: 8px;
    font-family: arial;
    margin-bottom: 30px;
}

.opt-price {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.opt-price:hover {
    border: solid 1px yellow;
}

.price-top {
    margin-top: 20px;
    color: white;
    font-size: 40px;
}

.price-sub {
    padding: 30px;
    color: white;
    font-size: 19px;
    line-height: 25px;
}
.price-num{
    padding: 10px;
    color: #f9c937;
    font-size: 30px;
    line-height: 25px;
}
.price-num sup{
	font-size: 30px;
}

.price-bottom{
	padding: 10px;
	color: white;
	font-size: 30px;
}

.price-order .button:hover{
	background-image: linear-gradient(to right, #2a2f7a, #313cdb);
	border: 0;
}
.price-order{
    padding: 30px;
	color: white;
	font-size: 30px;
}
.opt-price li{
	text-align: center;
}
.opt-price .button {
    border: solid 1px blue;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.sub-end{
	padding: 30px;
	font-size: 20px;
	color: white;
	line-height: 25px;
}
.sub-end big{
	color: green;
	font-size: 25px;
}
.main-foot{
	background-color: #f9c937;
	color: black;
	font-family: arial;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 100px;
}
.main-foot big{
	margin-top: 20px;
	font-size: 25px;
}
.social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none;
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:white;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#000;
    color:white;
    font-size:16px;
    display:inline-block;
    line-height:25px;
    width:25px;
    height:25px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    border: solid 1px white;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}